body{
    font: 20px Arial;
}

.navbar{
    background-color: aquamarine;
}
.quem-somos{
    background-color: aqua;
}

.margin{
    padding-bottom: 50px;
    padding-top: 10px;
}

.parceiros{
    background-color: cornflowerblue;
}

.bg-footer{
    background-color: black;
    color: white;
}